@model LibreriaJose.Models.Data.Autor

@{
    ViewBag.Title = "Delete";
}
<div class="position-fixed top-0 end-0 p-3" id="contenedorAlertas"></div>
<h2>Delete</h2>

<h3>¿Estás seguro que quieres borrar este Autor?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver a Inicio", "Index")
        </div>
    }
</div>



<script>
    function addAlert(typeAlert, mensaje) {
        console.log("Alerta.");
        var idUnico = new Date().getTime();
        var htmlAlerta = `<div id="alerta${idUnico}" class="alert ${typeAlert}" role="alert">${mensaje}</div>`;
        $('#contenedorAlertas').append(htmlAlerta);
        $(`#alerta${idUnico}`).fadeIn();

        setTimeout(function () {
            $(`#alerta${idUnico}`).fadeOut(400, function () {
                $(this).remove();
            });
        }, 1000);
    }


        var tempVal = "@TempData["Error"]"; // Obtén el valor de TempData["Error"]
        if (tempVal != "") { // Verifica si TempData["Error"] no está vacío
            addAlert("alert-danger", tempVal); // Muestra la alerta con el mensaje de error
        }
</script>