@model LibreriaJoseAntonio.Models.Data.ItemCarrito

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>ItemCarrito</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Libro.ISBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Libro.ISBN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        @Html.HiddenFor(model => model.IdUser)

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver a Inicio", "Index")
</p>
