@model LibreriaJose.Models.Data.Libro

@{
    ViewBag.Title = "Details";
}

<style>
    .detail{
        display:flex;
        gap: 3rem;
    }
    .product_img {
        max-width: 20rem;
    }
    .second-mid {
        max-width: 20rem;
        font-size: 1.15rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .mybutton {
        margin:0;
        background-color:transparent;
        color:black;
       
    }
    .carrito-edit-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
    }
    .container_cantidad {
        display: flex;
    }
    .cantidad-carrito {
        width: 4rem;
        text-align: center;
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    .carrito-btn {
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;
        margin-top: 1rem;
    }
    .myData {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }


</style>
<div class="position-fixed top-0 end-0 p-3" id="contenedorAlertas"></div>

<div>
    <h4>Libro</h4>
    <hr />
    <div class="detail">
        <div class="first-mid">
            <img src="@Model.Imagen" class="img-fluid product_img" />
        </div>
        <div class="second-mid">

            <p class="myData"><b>@Html.DisplayNameFor(model => model.Titulo): </b>@Html.DisplayFor(model => model.Titulo)</p>
            <p class="myData"><b>@Html.DisplayNameFor(model => model.Autor_id): </b>@Html.DisplayFor(model => model.Autor_id.Nombre)</p>
            <p class="myData"><b>@Html.DisplayNameFor(model => model.Editorial_id): </b>@Html.DisplayFor(model => model.Editorial_id.Nombre)</p>
            <p class="myData"><b>@Html.DisplayNameFor(model => model.Estado_id): </b>@Html.DisplayFor(model => model.Estado_id.Nombre)</p>
            <p class="myData"><b>@Html.DisplayNameFor(model => model.Formato_id): </b>@Html.DisplayFor(model => model.Formato_id.Nombre)</p>
            <p class="myData"><b>@Html.DisplayNameFor(model => model.ISBN): </b>@Html.DisplayFor(model => model.ISBN)</p>
            <p class="myData"><b>@Html.DisplayNameFor(model => model.Cantidad): </b><span class="cantidad-data">@Html.DisplayFor(model => model.Cantidad)</span></p>
            <div class="carrito-edit-container">
                <div class="container_cantidad">
                    <button class="fa fa-minus mybutton restar"></button>
                    <input type="number" min="0" max="999" class="cantidad-carrito" value="0" />
                    <button class="fa fa-plus mybutton sumar"></button>
                </div>
                <button class="fa fa-shopping-cart carrito-btn"></button>
            </div>
        </div>
    
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver a Inicio", "Index")
</p>

<script>


    function addAlert(typeAlert, mensaje) {
        console.log("Alerta.");
        var idUnico = new Date().getTime();
        var htmlAlerta = `<div id="alerta${idUnico}" class="alert ${typeAlert}" role="alert">${mensaje}</div>`;
        $('#contenedorAlertas').append(htmlAlerta);
        $(`#alerta${idUnico}`).fadeIn();

        setTimeout(function () {
            $(`#alerta${idUnico}`).fadeOut(400, function () {
                $(this).remove();
            });
        }, 1000);
    }


    $(document).ready(function () {

        // clic para todos los elementos con la clase "sumar"
        $(".sumar").click(function () {
            var cantidadMaxima = parseInt( $(".cantidad-data").text());
            var cantidad = parseInt($(".cantidad-carrito").val());

            if (cantidad < cantidadMaxima) {
                cantidad++;
                $(".cantidad-carrito").val(cantidad);
            }
        });

        // clic para todos los elementos con la clase "restar"
        $(".restar").click(function () {
            var cantidad = parseInt($(".cantidad-carrito").val());
            if (cantidad > 0) {
                cantidad--;
                $(".cantidad-carrito").val(cantidad);
            }
        });
    });







    var primerPut = true;
    $(document).ready(function () {
    // clic para los botones de carrito
    $(".carrito-btn").click(function () {
        var isbn = @Html.DisplayFor(model => model.ISBN);
        var cantidad = parseInt($(".cantidad-carrito").val());
        var cantidadMaxima = parseInt($(".cantidad-data").text());

        // Realiza la solicitud directamente aquí
        fetch('@Url.Action("AgregarItem", "ItemCarrito")', {
            method: "POST",
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            },
            body: JSON.stringify({
                isbn: isbn,
                cantidad: cantidad,
                remplazar: primerPut
            })
        }).then(response => {
            return response.json();
        }).then(data => {

            //Si salio bien
            if (data == "true") {
                console.log("Ha ido bien, añadido libro.");
                cantidad == 1 ? addAlert("alert-success", `Se ha añadido ${cantidad} libro al carrito`) :
                    addAlert("alert-success", `Se ha añadido ${cantidad} libros al carrito`);


                //Setear valores
                cantidadMaxima -= cantidad;
                $(".cantidad-carrito").val(0);
                $(".cantidad-data").text(`${cantidadMaxima}`);
                primerPut = false;

            } else if (data == "outStock") {
                addAlert("alert-danger", "Fuera de Stock.");
            } else if (data == "full") {
                addAlert("alert-warning", "Carrito Lleno");
            } else {
                console.log("No se ha podido agregar")
            }

        }).catch(err => {
            console.error('Error durante la solicitud', err);
        });
    });
});



    $(document).ready(function () {
        // clic para todos los divs con la clase "redireccion"
        $(".redireccion").click(function () {
            // Obtiene la URL específica del div clicado
            var url = $(this).data("url");
            window.location.href = url;
        });
    });







    $(document).ready(function () {
        var antesInput = 0;
        $(".cantidad-carrito").on("click", async function () {
            antesInput = parseInt($(this).val())

        });
        $(".cantidad-carrito").on("change", async function () {
            var cantidad = parseInt($(".cantidad-carrito").val());
            var cantidadMaxima = parseInt($(".cantidad-data").text());

            if (cantidad >= 1 && cantidad<= cantidadMaxima) {
                $(this).val(cantidad);
                antesInput = cantidad
            } else {
                $(this).val(antesInput);
            }

        });
    });

</script>