@model IEnumerable<LibreriaJose.Models.Data.Libro>

@{
    ViewBag.Title = "Index";
    
}
<style>

    .ancho {
        max-width: 15rem;
    }
    .all_product {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .container_product {
        overflow: hidden;
        cursor:pointer;
        animation-duration: 500ms;
        border: 1px solid rgb(222, 222, 222);
        padding: 2rem 2rem 0.5rem 2rem;
        position: relative;
    }


    .info_book p {
        margin: 0;
    }

    .title {
        font-weight: bold;
    }

    .autor {
        color: dimgray;
    }

    .precio {
        font-size: 1.5rem;
        color: red;
    }

    .container_product:hover .menu_info {
        transform: translateY(50px);
        animation: slideInUp 0.3s ease-out forwards;
    }

    .menu_info {
        cursor: default;
        background: linear-gradient(0deg, rgb(240, 240, 240) 0%,rgb(255, 255, 255,1) 60%, rgba(255,255,255,0.8) 100%);
        padding: 0rem 0rem 0.5rem 0rem;
        border-radius: 20px 20px 0px 00px;
        position: absolute;
        width: 100%;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0;
    }

    .mybutton {
        display: block;
        width: fit-content;
        margin: 0.5rem;
    }

    .seguidos {
        display: flex;
    }

    .carrito-btn {
        background-color:transparent;
        height:3rem;
    }
    .carrito-btn:hover {
        color:white;
        background-color:black;
    }
    .carrito-btn:active {
        color: black;
        background-color: white;
    }
    #contenedorAlertas {
        z-index:10;
    }
    .important_text {
        font-weight:bold;
    }

</style>
<div class="position-fixed top-0 end-0 p-3" id="contenedorAlertas"></div>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>

<div class="all_product">
    @foreach (var item in Model)
    {
        <div class="container_product ">
            <div class="data-product redireccion" data-url="@Url.Action("Details", "Libro", new {id=item.Id})">
                <img src="@item.Imagen" class="img-fluid ancho" />
                <div class="info_book ancho">

                    <p class="title text-center important_text mydata">@Html.DisplayFor(modelItem => item.Titulo)</p>
                    <p class="autor text-center important_text mydata">@Html.DisplayFor(modelItem => item.Autor_id.Nombre)</p>
                    <p class="editorial text-center mydata"> @Html.DisplayFor(modelItem => item.Editorial_id.Nombre)</p>
                </div>
                <hr />
                <p class="precio text-center mydata">@Html.DisplayFor(modelItem => item.Precio)€</p>
            </div>
            <div class="menu_info">
                <div class="seguidos">
                    @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "fa fa-edit mybutton btn btn-outline-warning btn-lg" })
                    @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "fa fa-trash mybutton btn btn-outline-danger btn-lg" })

                </div>
                <button type="button" class="carrito-btn fa fa-shopping-cart" data-isbn="@item.ISBN">
                    <i class="" fa fa-shopping-cart"></i> Añadir al carrito
                </button>

            </div>

        </div>
    }
</div>
<script>

    function addAlert(typeAlert,mensaje) {
        console.log("Alerta.");
        var idUnico = new Date().getTime();
        var htmlAlerta = `<div id="alerta${idUnico}" class="alert ${typeAlert}" role="alert">${mensaje}</div>`;
        $('#contenedorAlertas').append(htmlAlerta);
        $(`#alerta${idUnico}`).fadeIn();

        setTimeout(function () {
            $(`#alerta${idUnico}`).fadeOut(400, function () {
                $(this).remove();
            });
        }, 1000);
    }

$(document).ready(function () {
    // clic para los botones de carrito
    $(".carrito-btn").click(function () {
        var isbn = $(this).data("isbn");
        

        // Realiza la solicitud directamente aquí
        fetch('@Url.Action("AgregarItem", "ItemCarrito")', {
            method: "POST",
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            },
            body: JSON.stringify({
                isbn: isbn,
                cantidad: 1,
                remplazar: false
            })
        }).then(response => {
            return response.json();
        }).then(data => {
            if (data == "true") {
                console.log("Ha ido bien, añadido libro.");
                addAlert("alert-success","Se ha añadido el libro al carrito.");


            } else if (data == "outStock") {
                addAlert("alert-danger", "Fuera de Stock.");
            } else if (data == "full") {
                addAlert("alert-warning", "Carrito Lleno");
            }
            else {
                console.log("No se ha podido agregar")
            }

        }).catch(err => {
            console.error('Error durante la solicitud', err);
        });
    });
});



    $(document).ready(function () {
        // clic para todos los divs con la clase "redireccion"
        $(".redireccion").click(function () {
            // Obtiene la URL específica del div clicado
            var url = $(this).data("url");
            window.location.href = url;
        });
    });
</script>

