@model IEnumerable<LibreriaJose.Models.Data.Libro>

@{
    ViewBag.Title = "Index";
}
<style>

    .all_product {
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
    }

    .container_product {
        border: 1px solid black;
        padding: 1.5rem 4rem 1.5rem 4rem;
        position:relative;
    }
    .product_img {
        max-width:15rem;
    }
    .info_book p {
        margin:0;
    }
    .title {
        font-weight:bold;
    }
    .autor {
        color: dimgray;
    }
    .precio {
        font-size: 1.5rem;
        color: red;
    }
    .container_product:hover .menu_info {
        transform: scale(1);
        opacity: 1;
      
    }
    .menu_info {
        background-color: rgb(255, 255, 255,0.1);
        backdrop-filter: blur(20px);
        padding: 2rem 0rem 2rem 0rem;
        border-radius: 20px 20px 0px 00px;
        position: absolute;
        width: 100%;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: scale(0);
        opacity: 0;
        transition: 1s linear;
        transition: 0.2s linear;
    }
    .mybutton {
        display:block;
        width:fit-content;
        margin:0.5rem;
    }
    .seguidos {
    display:flex;
    }

</style>


<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="all_product">
    @foreach (var item in Model)
    {
        <div class="container_product">
            <img src="@item.Imagen" class="img-fluid product_img" />
            <div class="info_book" >
                <p class="title text-center">@Html.DisplayFor(modelItem => item.Titulo)</p>
                <p class="autor text-center">@Html.DisplayFor(modelItem => item.Autor_id.Nombre)</p>

            </div>
            <div class="precio text-center">
                @Html.DisplayFor(modelItem => item.Precio)€
            </div>
            <div class="menu_info">
                <div class="seguidos">
                    @Html.ActionLink("Ver", "Details", new { id = item.ISBN }, new { @class = "fa fa-delete mybutton btn btn-primary btn-lg" })
                    @Html.ActionLink(" ", "Edit", new { id = item.ISBN }, new { @class = "fa fa-edit mybutton btn btn-warning btn-lg" })
                    @Html.ActionLink(" ", "Delete", new { id = item.ISBN }, new { @class = "fa fa-trash mybutton btn btn-danger btn-lg" })
                </div>
            </div>

        </div>
    }
</div>

</table>
